<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sebastian Barrio</title>
    <!-- https://coolors.co/000000-00002e-182443-2b4150-00547a-46acc3-c5fffd -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">

</head>
<body>
    <div class="main">
        <h1>Sebastian Barrio Bejarano</h1>
        <h2>Software developer</h2>
        <div class="languages">
            <img class="sus" src="cpp_logo.png">
            <img class="sus" src="1200px-Python-logo-notext.svg.png">
            <img class="sus" src="nodejs-logo-FBE122E377-seeklogo.com.png">
        </div>
        <div class="social">
            <a href="https://www.twitter.com/papalino456"><img class="sos" src="013-twitter-1.png"></a>
            <a href="https://www.instagram.com/sebastian.barrio.b/"><img class="sos" src="034-instagram.png"></a>
            <a href="https://www.youtube.com/channel/UCnLsSg5JKYIDsXQPgtS_Lfg"><img class="sos" src="002-youtube.png"></a>
            <a href="https://github.com/papalino456"><img class="sos" src="039-github.png"></a>
        </div>
    </div>
</body>
</html>